# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
node_modules/.bin/autoprefixer
node_modules/.bin/autoprefixer.cmd
node_modules/.bin/autoprefixer.ps1
node_modules/.bin/browserslist
node_modules/.bin/browserslist.cmd
node_modules/.bin/browserslist.ps1
node_modules/.bin/cssesc
node_modules/.bin/cssesc.cmd
node_modules/.bin/cssesc.ps1
node_modules/.bin/esbuild
node_modules/.bin/esbuild.cmd
node_modules/.bin/esbuild.ps1
node_modules/.bin/jiti
node_modules/.bin/jiti.cmd
node_modules/.bin/jiti.ps1
node_modules/.bin/jsesc
node_modules/.bin/jsesc.cmd
node_modules/.bin/jsesc.ps1
node_modules/.bin/json5
node_modules/.bin/json5.cmd
node_modules/.bin/json5.ps1
node_modules/.bin/loose-envify
node_modules/.bin/loose-envify.cmd
node_modules/.bin/loose-envify.ps1
node_modules/.bin/nanoid
node_modules/.bin/nanoid.cmd
node_modules/.bin/nanoid.ps1
node_modules/.bin/parser
node_modules/.bin/parser.cmd
node_modules/.bin/parser.ps1
node_modules/.bin/resolve
node_modules/.bin/resolve.cmd
node_modules/.bin/resolve.ps1
node_modules/.bin/rollup
node_modules/.bin/rollup.cmd
node_modules/.bin/rollup.ps1
node_modules/.bin/semver
node_modules/.bin/semver.cmd
node_modules/.bin/semver.ps1
node_modules/.bin/sucrase
node_modules/.bin/sucrase-node
node_modules/.bin/sucrase-node.cmd
node_modules/.bin/sucrase-node.ps1
node_modules/.bin/sucrase.cmd
node_modules/.bin/sucrase.ps1
node_modules/.bin/tailwind
node_modules/.bin/tailwind.cmd
node_modules/.bin/tailwind.ps1
node_modules/.bin/tailwindcss
node_modules/.bin/tailwindcss.cmd
node_modules/.bin/tailwindcss.ps1
node_modules/.bin/tsc
node_modules/.bin/tsc.cmd
node_modules/.bin/tsc.ps1
node_modules/.bin/tsserver
node_modules/.bin/tsserver.cmd
node_modules/.bin/tsserver.ps1
node_modules/.bin/vite
node_modules/.bin/vite.cmd
node_modules/.bin/vite.ps1
node_modules/.package-lock.json
node_modules/.vite/deps/_metadata.json
node_modules/.vite/deps/react-router-dom.js
node_modules/.vite/deps/react-router-dom.js.map
node_modules/.vite/deps/react-router.js
node_modules/.vite/deps/react-router.js.map
node_modules/@babel/parser/bin/babel-parser.js
node_modules/@esbuild/win32-x64/esbuild.exe
node_modules/@esbuild/win32-x64/package.json
node_modules/@esbuild/win32-x64/README.md
node_modules/@types/node/README.md
node_modules/@types/prop-types/index.d.ts
node_modules/@types/prop-types/LICENSE
node_modules/@types/prop-types/package.json
node_modules/@types/prop-types/README.md
node_modules/@types/react-dom/client.d.ts
node_modules/@types/react-dom/experimental.d.ts
node_modules/@types/react-dom/index.d.ts
node_modules/@types/react-dom/LICENSE
node_modules/@types/react-dom/package.json
node_modules/@types/react-dom/README.md
node_modules/@types/react-dom/server.d.ts
node_modules/@types/react-dom/test-utils/index.d.ts
node_modules/@types/react/experimental.d.ts
node_modules/@types/react/global.d.ts
node_modules/@types/react/index.d.ts
node_modules/@types/react/jsx-dev-runtime.d.ts
node_modules/@types/react/jsx-runtime.d.ts
node_modules/@types/react/LICENSE
node_modules/@types/react/package.json
node_modules/@types/react/README.md
node_modules/@types/scheduler/index.d.ts
node_modules/@types/scheduler/LICENSE
node_modules/@types/scheduler/package.json
node_modules/@types/scheduler/README.md
node_modules/@types/scheduler/tracing.d.ts
node_modules/autoprefixer/bin/autoprefixer
node_modules/browserslist/cli.js
node_modules/color-name/.npmignore
node_modules/color-name/index.js
node_modules/color-name/LICENSE
node_modules/color-name/README.md
node_modules/color-name/test.js
node_modules/cssesc/bin/cssesc
node_modules/didyoumean/package.json
node_modules/esbuild/bin/esbuild
node_modules/fraction.js/fraction.d.ts
node_modules/jiti/bin/jiti.js
node_modules/jsesc/bin/jsesc
node_modules/json5/lib/cli.js
node_modules/loose-envify/cli.js
node_modules/micromatch/LICENSE
node_modules/nanoid/bin/nanoid.cjs
node_modules/postcss-import/index.js
node_modules/postcss-import/LICENSE
node_modules/postcss/package.json
node_modules/queue-microtask/LICENSE
node_modules/read-cache/index.js
node_modules/read-cache/README.md
node_modules/resolve/bin/resolve
node_modules/rollup/dist/bin/rollup
node_modules/semver/bin/semver.js
node_modules/sucrase/bin/sucrase
node_modules/sucrase/bin/sucrase-node
node_modules/tailwindcss/lib/cli.js
node_modules/tslib/CopyrightNotice.txt
node_modules/tslib/LICENSE.txt
node_modules/tslib/modules/index.js
node_modules/tslib/modules/package.json
node_modules/tslib/README.md
node_modules/tslib/tslib.d.ts
node_modules/tslib/tslib.es6.js
node_modules/tslib/tslib.js
node_modules/typescript/bin/tsc
node_modules/typescript/bin/tsserver
node_modules/typescript/lib/typesMap.json
node_modules/typescript/LICENSE.txt
node_modules/typescript/README.md
node_modules/typescript/ThirdPartyNoticeText.txt
node_modules/update-browserslist-db/cli.js
node_modules/vite/bin/vite.js
node_modules/vite/dist/node/index.d.ts
